.div {
    align-self: stretch;
    position: relative;
    line-height: 150%;
    font-weight: 600;
}
.div1 {
    align-self: stretch;
    position: relative;
    line-height: 150%;
    font-weight: 500;
}
.windows1064Bit {
    position: relative;
    line-height: 150%;
    color: #f4f7ff;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 168px;
}
.frameDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 108px;
}
.parent1 {
    width: 236px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.orIntelArc {
    margin: 0;
}
.parent2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 100px;
}
.directx {
    position: relative;
    line-height: 150%;
}
.directxParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 134px;
}
.parent3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 67px;
}
.parent4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 104px;
}
.frameGroup {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    color: #808080;
}
.group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.div10 {
    width: 173px;
    position: relative;
    line-height: 150%;
    display: inline-block;
    flex-shrink: 0;
}
.parent9 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.directxGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.frameParent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 135px;
    font-size: 16px;
}
.parent {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    text-align: left;
    font-size: 32px;
    color: #f4f7ff;
    font-family: Montserrat;
}



  .frameParent8 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 135px;
    font-size: 16px;
}